body {
  font-family: Arial, Helvetica, sans-serif;
color: black;
    line-height: 1.5; 
text-align: justify;
font-size: 14px;
font-weight: 400;


}



.kala { color: #B8705D; }

@media (max-width: 800px) {
.eze {
  padding-left: 35px;
  padding-right: 35px;
  font-size: 15px;
  padding: 12px;
}
}


@media (max-width: 800px) {
body {
  font-size: 14px;
  overflow-x: hidden; 
    }
}




h1 {
color: black;
font-size: 24px;
text-align: center;
}


@media (max-width: 800px) {
  h1 {
      font-size: 22px; 
      text-align: center; 
  }
}




.flex-container {
padding-bottom: 50px;
padding-top: 30px;
display: flex;
flex-direction: row;
font-size: 30px;
}

.flex-item-left {
background-color: white;
padding-left: 40px;
padding-right: 20px;
flex: 50%;
}

.flex-item-right {
      line-height: 1.5; 
     text-align: justify;
font-size: 14px;
background-color: white;
padding: 30px 50px 0px 30px;
flex: 50%;
}

@media (max-width: 799px) {
  .carousel-item img {
      height: 270px; 
  }


}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
.flex-container {
  
  padding-left: 35px;
  padding-right: 35px;

  justify-content: center;
  flex-direction: column;
}
.flex-item-left {
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}
.flex-item-right {
  padding-top: 40px;
    padding-left: 0;
  padding-right: 0;
  font-size: 15px;
}
}


.carousel-item img {
  height: 290px;
}



.carousel-swipe {
position: absolute;
top: 50%;
transform: translateY(-50%);
background: none;
border: none;
color: #Ab5943; 
font-size: 35px; 
cursor: pointer;
z-index: 999;
width: 40px; 
height: 40px;
line-height: 40px;
}

.carousel-swipe-left {
left: 13px; 
}

.carousel-swipe-right {
right: 13px;
z-index: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
visibility: visible;
}

.carousel-pagination {
border-top: 10px white;
text-align: center;
margin-top: 10px;
}

.carousel-pagination button {
border-radius: 50%;
width: 10px;
height: 10px;
margin-right: 5px;
border: none;
background-color: silver;
cursor: pointer;
}

.carousel-pagination button.active {
background-color:  #D6A295;
border-color:  #D6A295;
}

.image {
  box-shadow: 0 4px 16px rgba(171, 89, 67, 0.8);

width: 220px;
height: 220px;
overflow: hidden;
border-radius: 15px;
width: 100%;
height: auto;
}

@media (min-width: 1400px) {
          .image {
              width: 150px;
              height: 150px; 
          }
      }





.container {
position: relative;
width: 100%;
height: 400px; /* Adjust height as needed */
overflow: hidden;
}

.blur-background {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-size: cover;
filter: blur(3px); /* Adjust the blur amount as needed */
}

.content {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
backdrop-filter: blur(1px); /* Adjust the overlay blur amount as needed */
}



.container-fluid {
background-size: cover;
position: relative;
}

.flex-item {
padding: 20px;
flex: 0 0 33%;
height: 100px;
box-sizing: border-box;
}

.custom-container {
box-shadow: 0 4px 16px rgba(171, 89, 67, 0.8);

z-index: 0;
  position: relative;
  overflow: hidden; 
  background-image: url('https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExcjBxZ2swNGtlOHc0bWJ1N3kyenFxcDJucW12ZmdyM3M2ZXd3bnR2YiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/rlkpAmX3gaLWE/giphy.gif'); 
  background-size: cover; 
  border-top: 35px; 
}

.container-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #D6A295;
opacity: 0.5;
}





.flex-item {
flex-basis: calc(33.33% - 10px);
margin-bottom: 20px;
height: 90px;
/* Remove border between flex items */
border: none;
box-sizing: border-box;
}

@media (max-width: 800px) {
.flex-container {
  justify-content: center; 
}
}



.carousel-inner {
position: relative;
z-index: 1; 
}



      .custom-list {
color: black;
          list-style-type: none; 
          padding: 0; 
      }

      .custom-list li {
          padding-top: 19px;
      }
.custom-list li a {
          text-decoration: none;
          font-size: large; 
          color: black;
          transition: color 0.3s ease;
      }

      .custom-list li a:hover {
        color: gold; /* color on hover */
    }


















.asake {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: row;
}






















.left-panel {
     text-align: justify;
justify-content: center;
  align-items: center;
flex: 0 0 50%;
padding: 20px;
box-sizing: border-box;
}

.right-panel {
     text-align: justify;
font-weight: 400;
font-size: 14px;
      line-height: 1.5; 

z-index: 50;
flex: 1; 
padding: 35px 20px 20px 10px;
box-sizing: border-box;
}



@media (max-width: 800px) {
.asake {
  
  padding-left: 35px;
  padding-right: 35px;

    flex-direction: column; /* Stack items vertically */
}
.left-panel {
  padding: 20px;
    width: 100%; /* Each panel takes full width */
}
.right-panel {
  width: 100%;
  padding: 20px 20px 20px 20px;
}
}


.card {
width: 310px;
height: 250px;
box-shadow: 0 4px 16px rgba(171, 89, 67, 0.8);

overflow: hidden;
border-radius: 20px;
}

.card img {
width: 310px;

height: 250px;
box-shadow: 0 4px 16px rgba(171, 89, 67, 0.8);

border-radius: 20px;
}

@media (max-width: 800px) {
.card img {
  
  width: 250px;
    height: 200px;
}
.card {
  width: 250px;
   height: 200px;
  }

}






















@media (max-width: 800px) {
.new-flex-container {
  flex-direction: column;
}
}


.new-custom-container {
position: relative;
overflow: hidden;
background-size: cover;
height: 100%; 
}

.new-container-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #B8705D;
z-index: 1;
}



.new-flex-container {
position: relative;
z-index: 3;
display: flex;
flex-direction: row;
padding: 20px;
}






@media (max-width: 800px) {
.new-flex-container {
  flex-direction: column;
}
}






























































































.btn-pill {
  background-color: #Ab5943;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-pill:hover {
  background-color: gold;
}

.modal {
  display: none;
  position: fixed; /* Ensure it covers the entire viewport */
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Backdrop color */
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  float: left;
  margin: 10;
}

.close {
  color: red;
  float: right;
  font-size: 37px;
  font-weight: bold;
  cursor: pointer;
}

.modal-body {
  margin-top: 10px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.btn-close {
  background-color: white;
  color: red;
  border: none;
  border-radius: 25px;
  padding: 10px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-close:hover {
  background-color: gold;
}


























.dog { font-size: 20px}





















































.counter {
display: flex;
flex-direction: column;
align-items: center;
font-family: Arial, Helvetica, sans-serif;  }

.counter-number-wrapper {
display: flex;
align-items: baseline;
font-size: 2em;
}

.counter-number {
font-weight: bold;
margin-right: 5px;
}

.counter-suffix {
color: black;
font-size: 30px;
margin-left: 10px;
}

.counter-title {
margin-top: 0px;
font-size: 1em;
color: black;
}











































.counter {
color: black;
font-size: 24px;
font-weight: bold;
text-align: center;
position: relative;
}
.cloud-count {
display: inline-block;
position: relative;
}
.count-number {
display: inline-block;
line-height: 79px;
color: black;
font-size: 29px;
animation: countUp 4s forwards;
}

.final-text {
display: none;
font-size: 24px;
font-weight: bold;
margin-left: 10px;
}
.sub-text {
font-size: 16px;
margin-top: 10px;
}
@keyframes countUp {
from { transform: scale(1); }
to { transform: scale(1.5); }
}















.moses-countdown {
font-size: 47px;
color: black;
margin-bottom: 10px;
z-index: 3;

}















.elementor-icon {
width: 80px; /* Adjust size as needed */
height: 70px; 
color: white;
}











































.pill-button {
display: inline-block;
width: 150px;
padding: 10px 10px 10px 10px;
border-radius: 25px;
background-color: #Ab5943;
color: white;
border: none;
cursor: pointer;
font-size: inherit;
text-align: center;
position: relative;
text-decoration: none;
}

.pill-button:hover {
background-color: gold; 
}








.address {
display: flex;
align-items: center;
}
.azonto {
text-align: center;
}


.w3-third { text-align: center;
  font-style: bold;}
  






  
.elijah-container {
justify-content: center;
text-align: center;
display: flex;
z-index: 3;
font-weight: bolder;
font-size: 50px;
color: black;

}

.moses-countdown {
font-size: 47px;
color: black;
margin-bottom: 10px;
z-index: 3;

}





.jess {
color: black;
font-size: 25px;
padding-bottom: 0px;
}















.elephant-nav-list a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  position: relative; /* Added position relative for hover effect */
}

.elephant-nav-list a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #Ab5943;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.elephant-nav-list a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

/* Add right spacing of 25px to the dropdown content */
.elephant-menu-content {
  right: 25px;
}

.elephant-navbar {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 35px;
  padding-left: 20px;
  background-color: #fff;
}
.elephant-nav-list {
  z-index: 999;
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}
.elephant-nav-list li {
  display: inline;
}
.elephant-nav-list a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  line-height: 20px;
  position: relative; /* Added position relative for hover effect */
}
.elephant-nav-list a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #Ab5943;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.elephant-nav-list a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}
.elephant-dropdown {
  position: relative;
  display: inline-block;
}
.elephant-dropdown-content {
  width: 200px;
  display: none;
  position: absolute;
  right: 0;
  top: 17px;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.elephant-dropdown-content a {
  z-index: 3;
  color: black;
  padding: 10px 12px 16px;
  text-decoration: none;
  display: block;
}
.elephant-dropdown-content a:hover {
  background-color: #f1f1f1;
}
.elephant-dropdown:hover .elephant-dropdown-content {
  display: block;
}
.elephant-menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 35px;
  color: #Ab5943;
  cursor: pointer;
}
@media (max-width: 800px) {
  .elephant-nav-list {
    z-index: 999;
    display: none;
    flex-direction: column;
    width: auto;
    position: absolute;
    top: 60px; /* Adjust according to your navbar height */
    right: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(54, 36, 36, 0.2);
    height: auto;
  }
  .elephant-nav-list.show {
    display: flex;
  }
  .elephant-menu-button {
    display: block;
  }
}
.elephant-navbar img {
  max-width: 250px;
  max-height: 150px;
}
.elephant-dropdown:hover .elephant-dropdown-content {
  display: block;
}
.elephant-dropdown:hover .elephant-dropbtn {
  background-color: white;
}
.elephant-dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.elephant-dropdown {
  position: relative;
  display: inline-block;
}
.elephant-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.elephant-dropdown-content a {
  color: black;
  z-index: 999;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.elephant-dropdown-content a:hover {
  background-color: #AB5943;
}
.elephant-dropdown:hover .elephant-dropdown-content {
  display: block;
}
.elephant-dropdown:hover .elephant-dropbtn {
  background-color: white;
}
/* Add right spacing of 25px to the dropdown content */
.elephant-menu-content {
  right: 25px;
}

